language: python

install:
  - pip install cgatcore
  - pip install pyyaml
  - pip install ruffus
  - pip install gevent
  - pip install paramiko
  - pip install pep8
  - pip install pytest
  - pip install pytest-pep8
  - pip install drmaa
  - pip install pyyaml
  - pip install setuptools
  - pip install six
  - pip install sqlalchemy
  - pip install apsw
  - pip install pandas
  - pip install numpy
# Misc dependencies
  - pip install pycoreutils
  - pip install times
  - pip install boto3
  - pip install google-cloud-storage
  - pip install google-cloud
  - pip install ftputil
  - pip install pysftp

# command to run tests
script:
  - python GQSLAP.py make full --local 
